/**
  * CCC: Since this is a CSS document type I moved this from website.html
  * Add the reference link in the head
*/
#googleMap {
      width: 50%;
      height: 900px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }  
