/**
  * CCC: Since this is a CSS document type I moved the CSS from URPDG website.html here
*/
#googleMap {
      width: 50%;
      height: 900px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }  
